@import './bootstrap.min.css';
body::before{
    display: block;
    content: '';
    height: 78px;

}

.wrap{
    background:  rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200vh;
    position: relative;
    /* min-width: 100%; */
    background-attachment: fixed;
    /* height: 100%; */
    /* background-position: center; */
    width: 100%;
    background-position: 14% 86%;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: .25rem;
    z-index: 1;
    border: 0; */
}
nav a{
    padding-right: 10px;
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
}
.section{
    position: absolute;
    top: 20%;
    left: 30%;
    right: 30%;
    bottom: auto;
    font-size: 15px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    
}
.cntImg{
    width: 100%;
    height: 130px;
    object-fit: cover;
   object-position: 50% 20%;
}
.imgHome, .imgdiv{
    background-color: #c4c4c4;
}
/* .imgHome {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
} */
div .h2{
    letter-spacing: 6px;
}
div .find{
    background: #648880;
    background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
  }
  
.Cntc{
    background: linear-gradient(to right, #cdd2c9, #8b8c8b00 85%, #a3a88a);
}
.abtImg{
    width: 100%;
    height: 170px;
    object-fit: cover;
   object-position: 50% 20%;
}
.cntCrd{
    background-color: #d3d3cdec;
}
.iiip{
    background-color: #e7e7e7;
}
.uii{
    margin-left: 70px;
}